*.o
callingConvention_org
callingConvention_test
callingConvention
regs/regs
smemTest
callingConvention.S
slib_test
cases/slib_test.S
getpid
test.i
slib_test_static
hellWorld/Cargo.lock
hellWorld/src/a.out
hellWorld/src/libnative.a
hellWorld/src/native.a
hellWorld/target/
cases/getpid.S
cases/getpid.bc
cases/a.out
cases/empty
cases/empty.S
*.ll
clang
*.S
*.bc
llc
llvm-dis
mmap
fixed
getpid_oneQ
getpid_gcc
*.log
c2sBuild.sh
getpid_oneQue
test2.sh
twoVars
twoVars_gcc
twoVars_oneQue
*.ansi
funcCall
*.tmp
funcCall_gcc
funcCall_oneQue
cases/unit
/apache_2.2.14_arm
/apache_2.2.32_arm
/apache_x86
/httpd-2.2.14.tar.gz
/httpd-2.2.14
/httpd-2.2.32.tar.gz
/micro
/nginx
/nginx_x86
/util-linux
/x86_module
fpointer/release/fpointer_ref
otp/release/otp_NOginseng
otp/release/otp_ginseng_opt
otp/release/otp_NOginseng.s
libsvm
*.swp
otp/noginseng.mk
otp/otp_NOginseng.c
otp/otp_ginseng_opt.c
rtn/release/
.NDSS_changed_files
.NDSS_diff
